# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
override.tf
override.tf.json

# Ansible
*.retry
ansible/inventory/oci/hosts.ini
ansible/inventory/onprem/hosts.ini

# Secrets / keys
*.pem
*.key
**/.vault_pass
kubeconfig*
!kubeconfig.example

tmp/