# Terraform
**/.terraform/
**/backend.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
override.tf
override.tf.json

# Ansible
*.retry
ansible/inventories/fra-prod/hosts.ini
ansible/inventories/dus-prod/hosts.ini

# Secrets / keys
*.pem
*.key
**/.vault_pass
kubeconfig*
!kubeconfig.example

tmp/
