[control_plane]
${cluster_name}-cp-01 ansible_host=${server_ip} ansible_user=${ssh_user}

[workers]
%{ for idx, ip in worker_ips ~}
${cluster_name}-worker-0${idx + 1} ansible_host=${ip} ansible_user=${ssh_user}
%{ endfor ~}

[cluster:children]
control_plane
workers

[cluster:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
ansible_ssh_private_key_file=~/.ssh/k3s_onprem
